%h2.text-center#question
  = @text["question"]
%ul.small-block-grid-1
  %li
    %a.large.button.expand.success.vote{ :href => "", :data => { :vote => "1" } }
      = @text["positive"]
  %li
    %a.large.button.expand.alert.vote{ :href => "", :data => { :vote => "-1" } }
      = @text["negative"]

#resultmodal.reveal-modal
  %h2 Check.
  %p.lead Thank you for your participation.
  %a.close-reveal-modal ×

#editmodal.reveal-modal
  %h2 What's your name?
  %form#editnameform
    %input#editname{:name => "editname", :type => "text", :value => @account ? @account.name : "" }
    %a.small.button#editsave{:href=>""} Save
  %a.close-reveal-modal ×

#logoutmodal.reveal-modal
  %h2 Attention!
  %p.lead
    To come back you need the following URL:
    %b
      = request.url
  %p
    %a.small.alert.button#logout{:href=> "#{@account.url}/logout"} Proceed logout
  %a.close-reveal-modal ×

#proplanmodal.reveal-modal
  %h2 Go Pro!
  %p.lead
    Get access to all data to create your own statistics.<br />
    %small
      One simple REST-JSON API call.
  %p.lead
    Ask your own questions for a more personal touch.
  %p.lead
    Delete / edit entries to amend errors.
  %p
    Contact us: <a href="https://twitter.com/happinessmetric" target="_blank">@happinessmetric</a>
  %a.close-reveal-modal ×

#aboutmodal.reveal-modal
  %h2 Track happiness
  %p.lead Easy to set up & easy to use
  %p Open this page on a mobile device like an iPod touch or an iPad.
  %p Place it next to a trafficked place in your office (e.g., front desk, coffee machine) and let people use it.
  %p There is no step 3 :)
  %p.lead
    How we use it
  %img{:src => "/usecase.png"}
  %a.close-reveal-modal ×
