%h2.text-center#question
  = @text["question"]
%ul.small-block-grid-1
  %li
    %a.large.button.expand.success#up
      = @text["positive"]
  %li
    %a.large.button.expand.alert#down
      = @text["negative"]

#resultmodalpositive.reveal-modal
  %h2 Awesome.
  %p.lead Thank you for your participation.
  %a.close-reveal-modal ×

#resultmodalnegative.reveal-modal
  %h2 Bummer.
  %p.lead Thank you for your participation.
  %a.close-reveal-modal ×

#editmodal.reveal-modal
  %h2 What's your name?
  %form#editnameform
    %input#editname{:name => "editname", :type => "text", :value => @account ? @account.name : "" }
    %a.small.button#editsave{:href=>""} Save
  %a.close-reveal-modal ×

#logoutmodal.reveal-modal
  %h2 Attention!
  %p.lead
    To come back you need the following URL:
    %b
      = request.url
  %p
    %a.small.alert.button#logout{:href=> "#{@account.url}/logout"} Proceed logout
  %a.close-reveal-modal ×


