<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-title" content="fruitful">

  <title>being fruitful</title>

  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <link rel="stylesheet" href="/stylesheets/add2home.css" />

  <script src="/javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>
  <%= partial(:headernavbar, :template_engine => :erb) %>

  <!-- Main Section -->
  <div class="row">
    <div id="responsivebox" class="large-6 large-centered columns">
      <%= yield %>
      <p>
        <span class="hiddenchart" style="display: none;">Last </span>
        <span id="tristategraph">Click above and statistics will show up in a few seconds.</span>
        <span id="piecharts" class="pull right hiddenchart" style="display: none;">
          <span id="td-piechart">&nbsp;</span>td
          <span id="yd-piechart">&nbsp;</span>yd
          <span id="wk-piechart">&nbsp;</span>wk
          <span id="mo-piechart">&nbsp;</span>mo
        </span>
      </p>
      <p class="hiddenchart" style="display: none;">
        Activity <span id="history-linechart">More statistics will show up in a few seconds.</span>

      </p>
      <p class="hiddenchart" style="display: none;">
        <span class="pull left">Sun <span id="weekday-barchart">More statistics will show up in a few seconds.</span> Sat</span>
        <span class="pull right"># Sun <span id="activity-barchart"></span> Sat</span>
      </p>
    </div>
  </div>

  <!-- End Main Section -->

  <!-- Footer -->

  <footer class="row">
    <div class="small-12 columns small-centered text-center">
      <hr />
      <p><small><%= Account.count %></small> <strong>♡</strong> <small><%= Vote.count %></small></p>
    </div>
  </footer>

  <%= partial(:foundationjs, :template_engine => :erb) %>
  <%= partial(:livereload, :template_engine => :erb) if Sinatra::Base.development? %>
</body>
</html>

